BODY {
	background-color: #404040;
}

HEADER {
	background-color: #909090;
	height: 117px;
	padding-top: 10px;
	padding-bottom: 10px;
}

HEADER IMG {
	margin: 0;
	height: 100%;
}

.doft {
	padding-top: 10px;
	width: 1420px;
	margin: 0 auto;
	position: relative;
}

.sha {
	box-shadow: 8px 11px 8px 0 #000;
}

.border {
	border-radius: 10px;	
}

.img_right {
	float: right;
	position: relative;
	width: 286px;
}

.loupe{
	height: auto;
	margin-top: 2px;
}

.close {
	bottom: 31px;
    height: auto;
    margin-right: 10px;
    position: absolute;
    right: 0;
    width: 17px;
}

.reload {
	float: right;
	height: auto;
	margin-right: 10px;
	width: 17px;
}

.chat {
	margin-top: 0px;
	margin-left: 32px;
	height: auto;
	width: 70%;
}

.cluster {
	width: 1000px;
	margin-left: 10px;
	margin-top: 10px;
}

.mid {
	margin-top: 20px;
	width: 100%;
	padding-left: 30px;
}

.mid .sid {
	background-color: #909090;
	float: left;
}

.clef {
	width: 105px;
	padding-left: 35px;
	height: 385px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.clef IMG {
	width: 70px;
	margin-bottom: 10px;
}

.smid {
	margin-right: 30px;
	width: 1020px;
	margin-left: 30px;
	padding-bottom: 10px;
}

.srig {
	width: 131px;
	height: 425px;
	padding-top: 20px;
	padding-left: 10px;
	text-align: center; 
}

.eye {
	border: 5px solid red;
	border-radius: 10px;
}

.book {
	height: 87px;
	width: 55px;
}

.towel {
	width: 78px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.brick {
	background: repeat url('resources/brick.jpg');
	width: 120px;
	height: 70px;
}

.dial {
	float: left;
	width: 510px;
	height: 170px;
	position: absolute;
	top: 665px;
	left: -42px;
	padding-left: 10px;
	background-color: #88FF89;
	font-family: Times;
}

.dial P {
	font-size: 21px;
	margin-bottom: 0;
	margin-top: 0;
}

.ord {
text-shadow: 7px 7px 5px rgba(255, 77, 49, 1);
}

.quest {
	font-size: 20px !important;
	font-style: italic;
}

.enter {
	font-size: 38px;
}

.txt {
	width: 380px;
}

.sub {
    border: medium none;
    border-radius: 0;
    font-size: 13px;
    height: 19px;
    letter-spacing: 1.6px;
    padding-bottom: 20px;
    padding-top: 1px;
    width: 80px;
}
